body {
  box-sizing: border-box;
  width: auto;
  height: auto;
}

.nav {
  position: relative;
  display: block;
  height: 100vh;
  border: 1px solid red;
  overflow-x: hidden;
}

.nav-list {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  /* margin: 10px; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.list-title {
  font-size: 17px;
  width: 90%;
  height: 70px;
  line-height: 70px;
  display: block;
  font-weight: 700;
  /* padding: 5px; */
  cursor: pointer;
  border-bottom: 1px solid #aaa;
}

.on {
  display: none;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

span {
  color: #ccc;
  font-size: 15px;
}

.list-div {
  width: 100vw;
  height: 70px;
}

.list-item {
  display: block;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ccc;
}
