* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "malgun gothic";
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.clear {
  clear: both;
}
#container {
  background-color: #fff;
  width: 1000px;
}

/*v1*/
#nav-v1 {
  width: 150px;
  text-align: center;
}
.menu-v1 {
  line-height: 2;
  border: 1px solid #222;
}
.menu-v1:hover {
  background-color: #000;
}
.menu-v1:hover > a {
  color: white;
  font-weight: bold;
}
.menu-v1 .submenu {
  margin-top: 7px;
  background-color: #fff;
  display: none;
}
.menu-v1 .submenu li:hover {
  background-color: #000;
  color: white;
  font-weight: bold;
}

/*v2*/
#nav-v2 {
  width: 150px;
  text-align: center;
}
.menu-v2 {
  line-height: 2;
  border: 1px solid #222;
  position: relative;
}
.menu-v2 .submenu {
  position: absolute;
  width: 150px;
  left: 149px;
  border: 1px solid #222;
  background-color: #222;
  color: white;
  top: -1px;
  display: none;
}
.menu-v2:hover {
  background-color: #222;
  color: white;
}
.menu-v2 .submenu > li:hover {
  background-color: white;
  color: #222;
}
